<li>
  
    <!-- something changes -->
  <div class="comment-content" font-family: "Varela Round", sans-serif;>
    <%= comment.content %>
  </div>
  
    
      <% if(locals.user){%>
        <a class="comment-likes"font-family: "Varela Round", sans-serif; href="/likes/toogle/?id=<%= comment._id%>&type=Comment" class="toogle-like-button" data-likes="<%= comment.likes.length%>">
          <%= comment.likes.length%> Likes
        </a>
      <%}else{%>
          <%= comment.likes.length%> Likes
        <%}%>
        <% if (locals.user && locals.user.id == comment.user._id) {%>
          <a class="comment-delete" href="/comments/destroy/<%= comment._id%>">delete</a>
        <%}%>
    
</li>