<h1>welcome to the Website</h1> 
 Hope you will enjoy the website
<% if (profile_user) { %>
    <h2>Welcome <%= profile_user.name %> with email ID <%= profile_user.email%> to your Profile page</h2>
  <% } %>

  <% if (user.id == profile_user.id) { %>
    
      <!-- id user matches then show the update form -->
      <form action="/users/update/<%= profile_user.id %>" method="post">
          <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required>
          <input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email%>" required>
          <input type="submit" value="update">
      </form>

    <% }else{ %>
<!-- show the profile info -->
<p>
  <%= profile_user.name %>
</p>
<p>
  <%= profile_user.email%> 
</p>
      <%}%>